*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff83;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2d;
    padding: 0 20px;
    border-radius: 10px;
}
.logo img{
    height: 100px;
}
.navPages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.navPages a{
    text-decoration: none;
    color: #ffffff83;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 1000ms;
}
.navPages a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #ffffff;
    scale: 1.2;
    cursor: pointer;
}
.navIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.navIcons img{
    height: 20px;
    transition-duration: 300ms;
}
.navIcons img:hover{
    scale: 1.2;
    cursor: pointer;
}